@font-face {
  font-family: 'font';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ebebeb;
}

.title {
  font-family: 'font';
  width: 100%;
  text-align: center;
}

.header {
  width: 98%;
  text-align: center;
  /* background-color: rgba(0, 0, 0, .3); */
  border-radius: 10px;
  margin: 1%
}

.front {
  width: 20%;
  margin:auto
}



.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.tile {
  user-select: none;
  font-size: 16px;
  width: 10%;
  min-width: 100px;
  max-width: 120px;
  height: 9rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
}

.tile.m {
  background: linear-gradient(#fee5de,#fee5de, #a5b4c9);
}

.tile.l {
  background: linear-gradient( #ffd861, #c3e7ff, #c3e7ff );
}

.tile.e {
  background: linear-gradient(#ffd59b,#fcad97, #ec788b,#a1487c);
}

.tile:hover {
  transform: translate(0, -20px) scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 24px;;
  z-index: 2;
}

.container {
  margin: 0 auto;
}

.comments-container {
  margin-left: 1.5rem;
}

.footer {
  bottom: 1rem;
  text-align: center;
  width: 100%;
}

.weather {
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .4) ) drop-shadow( -2px -2px 3px #fff );
  max-width: 80%;
  margin: auto;
}


div.front div.weather {
  /* filter:none */
}

div.header > * {
  padding: 0px 10px 10px 10px;
}
