@font-face {
  font-family: 'font';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #ebebeb;
  margin: 0;
}

.toolbar {
  display:flex;
  justify-content: left;
  height: 3rem;
  width: 100%;
  background-color: #68a0f3;
  color: white;
}

.full {
  display: flex;
  width: 100%
}

.body {
  width:70%;
  background-color: #F2FBFF;
  padding: 10px 10px 10px 10px;
}

.current {
  width:30% ;
  min-width: 25rem;
  text-align: center;
  background-color: #100E3B;
}

div.toolbar > * {
  height: 80%;
  margin-top: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.graph {
  width: 70%;
  margin:auto;
}

.tile {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 94%;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.5% 0% 0.5% 1%;
  margin: 1% 1% 1% 1%;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
}

.tile:hover {
  transform: translate(10px,0) scale(1.05);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 24px;;
  z-index: 2;
}

.info.score{
  font-family:"font";
  color:#F2FBFF;
  height: 3rem;
  font-size:32px;
}

.info.now{
  font-family: "font";
  color: #F2FBFF;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.info.menu{
  color:#F2FBFF;
  padding: 10px 20px 10px 10px
}

.comments-container {
  margin-left: 1.5rem;
}

.footer {
  bottom: 1rem;
  text-align: center;
  width: 100%;
}

.weather {
  width: 80%;
  margin: auto;
}
